@import "../../../../styles.scss";

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(2deg);
  }
  25% {
    -webkit-transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes wiggle {
  0% {
    -ms-transform: rotate(2deg);
  }
  25% {
    -ms-transform: rotate(-2deg);
  }
  50% {
    -ms-transform: rotate(2deg);
  }
  75% {
    -ms-transform: rotate(-2deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.sudoku-contianer {
  box-sizing: border-box;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted $gray;
    flex: 1;

    .column {
      display: flex;
      border-right: 1px dotted $gray;
      flex: 1;

      .block-item {
        border-radius: inherit;
        width: 100%;
        height: 100%;
      }
    }

    .column:nth-child(3n) {
      border-right: 1px solid $black;
    }

    .column:last-child {
      border-right: none;
    }
  }

  .row:first-child {
    .column:last-child {
      border-radius: 0 8px 0 0;
    }
    .column:first-child {
      border-radius: 8px 0 0;
    }
  }

  .row:nth-child(3n) {
    border-bottom: 1px solid $black;
  }
  .row:last-child {
    border-bottom: none;

    .column:first-child {
      border-radius: 0 0 0 8px;
    }
    .column:last-child {
      border-radius: 0 0 8px 0;
    }
  }
}

.error-sudoku {
  -webkit-animation: wiggle 0.2s ease-in-out;
  -moz-animation: wiggle 0.2s ease-in-out;
  animation: wiggle 0.2s ease-in-out;
}
