@import "../../styles.scss";

@keyframes color-changer {
  from {
    color: $black;
  }
  to {
    color: $red;
  }
}

.main-container {
  display: flex;
  height: 100%;
  width: 100%;
  .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    .sudoku-container {
      width: 450px;
      height: 450px;
      min-width: 300px;
      min-height: 300px;

      .sudoku {
        width: 100%;
      }
    }
    .action-group {
      display: flex;
      justify-content: center;
      margin-top: 12px;

      .action-btn {
        text-transform: capitalize;
        margin-right: 12px;
      }

      .active-btn {
        color: $background;
        background-color: $blue;
      }

      .action-btn:last-child {
        margin-right: none;
      }
    }
    .button-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 450px;
      min-width: 300px;

      .num-button {
        width: 17%;
      }
    }
  }

  .side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;

    .level-container {
      @include generic-text($font-size-xxl, $medium, $font-size-xxl);
    }

    .alert-container {
      margin-top: 12px;
      .alert {
        mat-icon {
          font-size: 52px;
          height: 52px;
          width: 52px;
          -webkit-animation: wiggle 0.5s ease-out infinite normal;
          -moz-animation: wiggle 0.5s ease-out infinite normal;
          animation: wiggle 0.5s ease-out infinite normal;
        }
      }
    }

    .timer-container {
      position: relative;
      height: 200px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      .ring-animation {
        -webkit-animation: scale-animation 1s ease-out infinite normal;
        -moz-animation: scale-animation 1s ease-out infinite normal;
        animation: scale-animation 1s ease-out infinite normal;
      }

      .inner-ring-animation {
        -webkit-animation: scale-animation 1s ease-out 0.2s infinite normal;
        -moz-animation: scale-animation 1s ease-out 0.2s infinite normal;
        animation: scale-animation 1s ease-out 0.2s infinite normal;
      }

      .timer-ring-one {
        position: absolute;
        height: 140px;
        width: 140px;
        border-radius: 50%;
        background-color: rgba($color: $moody-blue, $alpha: 0.6);
      }
      .timer-ring-two {
        position: absolute;
        height: 110px;
        width: 110px;
        border-radius: 50%;
        background-color: rgba($color: $moody-blue, $alpha: 1);
      }

      .alert-ring-one {
        background-color: rgba($color: $mandy, $alpha: 0.6);
      }
      .alert-ring-two {
        background-color: rgba($color: $mandy, $alpha: 1);
      }

      .time {
        @include generic-text($font-size-l, $medium, $font-size-l, $background);
        z-index: 10;
      }
    }

    .main-action-container {
      .action-btn {
        height: 40px;
        width: 100px;
      }
      .action-btn:first-child {
        margin-right: 18px;
      }
    }
  }
}

.main-container-paused {
  filter: blur(3px) brightness(0.9);
}

.easy-level {
  background: radial-gradient(#d2eaf3, transparent);
}
.challenge-level {
  background: radial-gradient(#ffadad, transparent);
}
.difficult-level {
  background: radial-gradient(#f8ffad7d, transparent);
}

.paused-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;

  .paused-menu {
    @include align(true, true, absolute);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .label {
      @include generic-text($font-size-xxl, $bold, $font-size-xxl);
    }
    .action-btn {
      margin-top: 32px;
      height: 80px;
      width: 120px;

      .play-icon {
        transform: scale(2.5);
      }
    }
    .back-btn {
      margin-top: 24px;
      height: 80px;
      width: 120px;
    }
  }
}

@media screen and(max-width:858px) {
  .main-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;

    .game-container {
      .sudoku-container {
        width: 80vw;
        height: 80vw;
        min-width: 200px;
        min-height: 200px;
        max-width: 350px;
        max-height: 350px;
      }

      .button-group {
        width: 85vw;
        min-width: 85vw;
      }
    }

    .side-container {
      flex-direction: row;
      justify-content: space-between;
      width: 95vw;

      .level-container {
        font-size: $font-size-m;
      }

      .alert-container {
        display: none;
      }

      .timer-container {
        height: auto;
        width: auto;
        .timer-ring-one,
        .timer-ring-two {
          display: none;
        }

        .time {
          color: $black;
        }

        .warnning-time {
          -webkit-animation: color-changer 0.5s ease-out infinite normal;
          -moz-animation: color-changer 0.5s ease-out infinite normal;
          animation: color-changer 0.5s ease-out infinite normal;
        }
      }

      .main-action-container {
        display: flex;
        flex-direction: column-reverse;

        .action-btn:first-child {
          margin-top: 18px;
        }
      }
    }
  }
}
