<div class="main-container" [ngClass]="{ 'main-container-paused': paused }">
  <div class="game-container">
    <div class="sudoku-container">
      <app-sudoku
        class="sudoku"
        [noteFlag]="noteFlag"
        [level]="level"
        (gameCompletedEvent)="gameCompletedEvent()"
      ></app-sudoku>
    </div>
    <div class="action-group">
      <button mat-raised-button class="action-btn" (click)="undoEvent()">
        undo
      </button>
      <button mat-raised-button class="action-btn" (click)="eraseEvent()">
        erase
      </button>
      <button
        mat-raised-button
        class="action-btn"
        [ngClass]="{ 'active-btn': noteFlag }"
        (click)="toggleNote()"
      >
        note
      </button>
    </div>
    <div class="button-group">
      <div class="num-button" *ngFor="let num of num_buttons">
        <app-num-button
          [buttonText]="num"
          (btnEvent)="inputEvent(num)"
        ></app-num-button>
      </div>
    </div>
  </div>
  <div class="side-container">
    <div class="alert-container">
      <div class="alert" *ngIf="timeChallengeFlag && timeLimitAlert">
        <mat-icon class="alert-icon">alarm</mat-icon>
      </div>
    </div>
    <div class="timer-container">
      <div
        class="timer-ring-one"
        [ngClass]="{
          'ring-animation': !paused && ringAnimation,
          'alert-ring-one': timeLimitAlert
        }"
      ></div>
      <div
        class="timer-ring-two"
        [ngClass]="{
          'inner-ring-animation': !paused && ringAnimation,
          'alert-ring-two': timeLimitAlert
        }"
      ></div>
      <div class="time">
        {{ timerDisplay }}
      </div>
    </div>
    <div class="main-action-container">
      <button mat-raised-button class="action-btn" (click)="togglePaused(true)">
        <mat-icon>pause</mat-icon>
      </button>

      <button
        mat-raised-button
        class="action-btn"
        [matBadge]="hintCount"
        matBadgePosition="after"
        matBadgeColor="accent"
        [matBadgeHidden]="!showHintCount"
        [disabled]="!showHintCount"
        (click)="showHint()"
      >
        <mat-icon>lightbulb</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="paused-container" *ngIf="paused">
  <div class="paused-menu">
    <div class="label">Paused</div>
    <button mat-raised-button class="action-btn" (click)="togglePaused(false)">
      <mat-icon class="play-icon">play_arrow</mat-icon>
    </button>
  </div>
</div>
