<div class="main-container">
  <div class="game-container">
    <div class="sudoku-container">
      <app-sudoku class="sudoku" [noteFlag]="noteFlag"></app-sudoku>
    </div>
    <div class="action-group">
      <button mat-raised-button class="action-btn" (click)="undoEvent()">
        undo
      </button>
      <button mat-raised-button class="action-btn" (click)="eraseEvent()">
        erase
      </button>
      <button
        mat-raised-button
        class="action-btn"
        [ngClass]="{ 'active-btn': noteFlag }"
        (click)="toggleNote()"
      >
        note
      </button>
    </div>
    <div class="button-group">
      <div class="num-button" *ngFor="let num of num_buttons">
        <app-num-button
          [buttonText]="num"
          (btnEvent)="inputEvent(num)"
        ></app-num-button>
      </div>
    </div>
  </div>
  <div class="side-container">
    <div class="timer-container">
      <div class="time"></div>
    </div>
    <div class="main-action-container">
      <div class="paused">paused</div>
      <div class="hint">hint</div>
    </div>
  </div>
</div>
