// font size
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-b: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;
$font-size-xxxl: 32px;

// font weight
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// colors
$background: white;
$title-color: black;
$red: red;
$royal-blue: #4c5edf;
$gossip: #cff5be;
$lightcyan: lightcyan;
$black: black;
$gray: gray;
$blue: blue;
$moody-blue: #6a74d8;
